<span class="text-sm italic text-gray-300 -pt-10">
  <%= @listing.host.name %>
</span>
<h1>Listings for <%= @listing.title %> </h1>
<div class="flex justify-center">
  <div class="relative w-3/4 mt-10 overflow-hidden text-black shadow-lg rounded-xl">
    <div class="w-auto p-10 bg-yellow-100">
      <p>
        <strong>Title:</strong> <%= @listing.title %>
      </p>

      <p>
        <strong>About:</strong> <%= @listing.about %>
      </p>

      <p>
        <strong>Max guests allowed:</strong> <%= @listing.max_guests %>
      </p>

      <p>
        <strong>Location:</strong> <%= address(@listing) %>
      </p>
      <div class="mt-5 photo_lists">
        <% if @listing.photos.exists? %>
          <% @listing.photos.each do |photo| %>
            <%= image_tag photo.image_url %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
